<form clrForm #userTeamForm="ngForm" (ngSubmit)="onSubmit(userTeamForm)">
    <clr-modal [(clrModalOpen)]="showDialog" [clrModalClosable]="true" [clrModalSize]="'lg'">
        <h3 class="modal-title">Add Team</h3>
        <div class="modal-body mb-10">
            <clr-alert [clrAlertType]="alert.type" *ngFor="let alert of alertService.alerts" (clrAlertClosedChange)="alertService.close(alert)">
                <clr-alert-item>
                    <span class="alert-text">
                        {{alert.message}}
                    </span>
                </clr-alert-item>
            </clr-alert>
            <clr-datagrid  [(clrDgSingleSelected)]="selectedOrgUser" [clrDgSingleSelected]="true" [clrDgRowSelection]="true">
                <clr-dg-column>
                    User Id
                    <clr-dg-string-filter [clrDgStringFilter]="usernameFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column class="dg-row-names">
                    First Name
                    <clr-dg-string-filter [clrDgStringFilter]="firstNameFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column class="dg-row-names">Last Name</clr-dg-column>
                <clr-dg-column  class="dg-row-names">Created At</clr-dg-column>
                <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>
                
                <clr-dg-row *clrDgItems="let user of orgUsers" [clrDgItem]="user" [clrDgSelectable]="true">                    
                    <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
                    <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
                    <clr-dg-cell>{{user.username}}</clr-dg-cell>
                    <clr-dg-cell>{{user.createdAt | date}}</clr-dg-cell>
                </clr-dg-row>
            
                <clr-dg-footer>{{orgUsers.length}} users</clr-dg-footer>
            </clr-datagrid>
            <div class="box-options-user">
                <div class="option-user mt-25 wd-45">
                    <strong class="mr-10">Permission:</strong>
                    <input type="radio" clrRadio name="optionPermission" required value="reader" [(ngModel)]="optionPermission" autofocus />
                    <label class="mr-10">Reader</label>
                    <input type="radio" clrRadio name="optionPermission" required value="owner" [(ngModel)]="optionPermission" autofocus />
                    <label class="mr-10" >Owner</label>
                    <input type="radio" clrRadio class="mr-10" name="optionPermission" required value="writer" [(ngModel)]="optionPermission" autofocus />
                    <label class="mr-10">Writer</label>
                </div>
                <button type="button" class="btn btn-outline-success mt-20"  [disabled]="showProgress || !selectedOrgUser" (click)="addOrgUserToTeam(selectedOrgUser)">
                    <clr-spinner clrMedium *ngIf="showProgress" aria-label="In progress"></clr-spinner>
                <span *ngIf="!showProgress">Add</span>
                </button>
            </div>
            <clr-datagrid [clrDgRowSelection]="true">
                <clr-dg-column class="dg-row-names">First Name</clr-dg-column>
                <clr-dg-column>User Id</clr-dg-column>
                <clr-dg-column  class="dg-row-names">Permission</clr-dg-column>
                <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>
                
                <clr-dg-row *clrDgItems="let user of teamUsers" [clrDgItem]="user">
                    <clr-dg-action-overflow>
                        <button class="action-item" (click)="deleteUser(user)" [disabled]="showProgress" >Delete</button>
                    </clr-dg-action-overflow>
                    <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
                    <clr-dg-cell>{{user.username}}</clr-dg-cell>
                    <clr-dg-cell>{{loadPermissions(user)}}</clr-dg-cell>
                </clr-dg-row>
            
                <clr-dg-footer>{{teamUsers.length}} users</clr-dg-footer>
            </clr-datagrid>
            <button type="button" class="btn btn-outline-success mt-30" type="submit" [disabled]="teamUsers.length == 0">
                <clr-spinner clrMedium *ngIf="showProgress" aria-label="In progress"></clr-spinner>
                <span *ngIf="!showProgress">Create</span>
            </button>
        </div>
    </clr-modal>
</form>