<div class="line-separator title">
  <clr-spinner clrMedium *ngIf="showProgress" class="title-bar-left" aria-label="In progress"></clr-spinner>
  <clr-input-container class="title-bar-left">
      <input clrInput [(ngModel)]="currentApp.name" name="applicationName" readonly type="text" />
  </clr-input-container>
  <button type="button" class="btn btn-danger-outline btn-icon button-delete" (click)="deleteApplication(currentApp)" [disabled]="showProgress">
      <clr-icon shape="trash"></clr-icon>
      Delete
  </button>
</div>
<div class="clr-row card-app-info">
  <div class="clr-col-12 clr-col-sm-4 card-app-info-row">
      <div class="card">
        <div class="card-block">
          <div class="card-app-info">
            <div class="card-app-info-row">
              <clr-input-container >
                <label>Initial Version:</label>
                <input clrInput title="text" name="initialVersion" [(ngModel)]="initialVersionFormatted" readonly/>
              </clr-input-container>
            </div>
            <div class="card-app-info-row">
              <clr-input-container class="card-app-info-row">
                <label>Team:</label>
                <input clrInput title="text" name="teamName" class="wd-130" [(ngModel)]="currentTeam.name" readonly/>
              </clr-input-container>
            </div>
            <div class="card-app-info-row">
              <clr-checkbox-container clrInline>
                <clr-checkbox-wrapper>
                    <label>Use Github Webhook</label>
                    <input clrCheckbox type="checkbox" disabled [(ngModel)]="currentApp.webHookEnabled" name="branchMapAllowBumpMajorVersion" />
                </clr-checkbox-wrapper>
              </clr-checkbox-container>
            </div>
          </div>
          <div class="card-app-info">
            <div class="card-app-info-row">
              <clr-input-container class="card-app-info-row">
                <label>Github Webhook resource:</label>
                <input clrInput title="text" name="teamName" class="wd-150" [(ngModel)]="webhookEndpoint" *ngIf="currentApp.webHookEnabled" readonly/>
              </clr-input-container>
            </div>
          </div>
          <clr-accordion class="mt-15">
            <clr-accordion-panel *ngFor="let map of currentApp.branches">
              <clr-accordion-title>Branch Action: {{map.name}}</clr-accordion-title>
              <clr-accordion-content *clrIfExpanded>
                <div class="card-app-info mb-10">
                  <div class="card-app-info-row">
                    <clr-input-container >
                      <label>Pattern:</label>
                      <input clrInput title="text" name="mapPatter" [(ngModel)]="map.branchPattern" readonly/>
                    </clr-input-container>
                  </div>
                  <div class="card-app-info-row">
                    <clr-input-container>
                      <label>Inherited From:</label>
                      <input clrInput title="text" name="branchMapInheritedFrom" [ngModel]="getInheritedFromName(map)" readonly/>
                    </clr-input-container>
                  </div>
                  <div class="card-app-info-row">
                    <clr-checkbox-container clrInline>
                      <clr-checkbox-wrapper>
                          <label>Allow Bump Major Version</label>
                          <input clrCheckbox type="checkbox" disabled [(ngModel)]="map.allowBumpMajor" name="branchMapAllowBumpMajorVersion" />
                      </clr-checkbox-wrapper>
                    </clr-checkbox-container>
                  </div>
                  <div class="card-app-info-row">
                    <clr-radio-container clrInline>
                      <label>Increment Mode</label>
                      <clr-radio-wrapper>
                          <input type="radio" clrRadio name="branchMapIncrmentMode" [checked]="map.increment == 3" disabled />
                          <label>Major</label>
                      </clr-radio-wrapper>
                      <clr-radio-wrapper>
                        <input type="radio" clrRadio name="branchMapIncrmentMode" [checked]="map.increment == 2" disabled />
                        <label>Minor</label>
                      </clr-radio-wrapper>
                      <clr-radio-wrapper>
                        <input type="radio" clrRadio name="branchMapIncrmentMode" [checked]="map.increment == 1" disabled />
                        <label>Patch</label>
                      </clr-radio-wrapper>
                    </clr-radio-container>
                  </div>
                </div>
              </clr-accordion-content> 
            </clr-accordion-panel>
            <clr-datagrid [(clrDgSingleSelected)]="selectedKeyBranch" [clrDgRowSelection]="true" (clrDgSingleSelectedChange)="onSelectedKeyBranch($event)">
              <clr-dg-column>Branch Name</clr-dg-column>
              <clr-dg-column>Branch Enabled</clr-dg-column>
              <clr-dg-column>Format Version</clr-dg-column>
              <clr-dg-row [clrDgItem]="branch" *clrDgItems="let branch of currentApp.keyBranches" [clrDgSelectable]="!showProgress">
                  <clr-dg-cell>{{branch.name}}</clr-dg-cell>
                  <clr-dg-cell><input type="checkbox" clrCheckbox disabled [checked]='branch.isEnabled' /></clr-dg-cell>
                  <clr-dg-cell>{{branch.formatVersion}}</clr-dg-cell>
              </clr-dg-row>
          </clr-datagrid>
          </clr-accordion>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-info-outline btn-icon" (click)="editApp(currentApp)" [disabled]="showProgress">
            <clr-icon shape="pencil"></clr-icon>
          </button>
        </div>
      </div>
  </div>
  <div class="card-app-info-row">
    <h2 class="mt-10 ml-55">History</h2>
    <ul class="clr-timeline clr-timeline-vertical" *ngIf="sortedHistory">

      <li class="clr-timeline-step" *ngFor="let version of sortedHistory">
        <clr-spinner clrMedium aria-label="In progress" *ngIf="isLastVersion(version)">Fetching data</clr-spinner>
        <clr-icon shape="success-standard" aria-label="Completed" *ngIf="!isLastVersion(version)"></clr-icon>
        <div class="clr-timeline-step-body">
          <div class="clr-timeline-step-title">{{getFormattedVersion(version)}}</div>
          <span class="clr-timeline-step-description">
            {{version.request?.message}}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-application-persistency *ngIf="showApplicationPersistencyModal" [persistencyMode]="'edit'" (closed)="onClosedApplicationPersistencyModal($event)" [(modelApp)]="currentApp"></app-application-persistency>
<clr-modal *ngIf="showDeleteModal" [(clrModalOpen)]="showDeleteModal" [clrModalClosable]="false">
  <h3 class="modal-title">Confirmation</h3>
  <div class="modal-body">
      <p>Are you sure you delete the application {{currentApp.name}}?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancelDelete()" [disabled]="showProgress">Cancel</button>
      <button type="button" class="btn btn-outline-danger" (click)="confirmDelete()" [disabled]="showProgress">
          <clr-spinner clrMedium *ngIf="showProgress" aria-label="In progress"></clr-spinner>
          <span *ngIf="!showProgress">Delete</span>
      </button>
  </div>>
</clr-modal>